version: "3.8"

services:
  app:
    build:
      context: ./
      dockerfile: ./docker/dockerfile
    ports:
      - "3001:3000"
      - "9292:9292"
      - "9293:9293"
    volumes:
      - ./assets:/var/www/discourse/public/assets
      - ./uploads:/var/www/discourse/public/uploads
      - ./log:/home/discourse/discourse/log
      - ./log:/var/www/discourse/log
      - ./backups:/usr/src/app/public/backups
      - ./tmp:/home/discourse/discourse/tmp
    depends_on:
      - cache
    environment:
      ALLOW_EMPTY_PASSWORD: "${ALLOW_EMPTY_PASSWORD}"
      SECRET_TOKEN: "${SECRET_TOKEN}"
      DISCOURSE_HOST: "${DISCOURSE_HOST}"
      DISCOURSE_HOSTNAME: "${DISCOURSE_HOST}"
      DISCOURSE_DB_HOST: "${DISCOURSE_DB_HOST}"
      RAILS_ENV: "${RAILS_ENV}"
      DISCOURSE_DB_PORT_NUMBER: "${DISCOURSE_DB_PORT_NUMBER}"
      DISCOURSE_DB_USERNAME: "${DISCOURSE_DB_USERNAME}"
      DISCOURSE_DB_PASSWORD: "${DISCOURSE_DB_PASSWORD}"
      DISCOURSE_DB_NAME: "${DISCOURSE_DB_NAME}"
      DISCOURSE_REDIS_HOST: "${DISCOURSE_REDIS_HOST}"
      DISCOURSE_REDIS_PORT_NUMBER: "${DISCOURSE_REDIS_PORT_NUMBER}"
      DISCOURSE_DEVELOPER_EMAILS: "${DISCOURSE_DEVELOPER_EMAILS}"
      RUBY_GLOBAL_METHOD_CACHE_SIZE: "${RUBY_GLOBAL_METHOD_CACHE_SIZE}"
      RUBY_GC_HEAP_GROWTH_MAX_SLOTS: "${RUBY_GC_HEAP_GROWTH_MAX_SLOTS}"
      RUBY_GC_HEAP_INIT_SLOTS: "${RUBY_GC_HEAP_INIT_SLOTS}"
      RUBY_GC_HEAP_OLDOBJECT_LIMIT_FACTOR: "${RUBY_GC_HEAP_OLDOBJECT_LIMIT_FACTOR}"
      DISCOURSE_SMTP_ADDRESS: "${DISCOURSE_SMTP_ADDRESS}"
      DISCOURSE_SMTP_PORT: "${DISCOURSE_SMTP_PORT}"
      DISCOURSE_SMTP_USER_NAME: "${DISCOURSE_SMTP_USER_NAME}"
      DISCOURSE_SMTP_PASSWORD: "${DISCOURSE_SMTP_PASSWORD}"
      DISCOURSE_NOTIFICATION_EMAIL: "${DISCOURSE_NOTIFICATION_EMAIL}"
      DISCOURSE_PUMA_BIND: "${DISCOURSE_PUMA_BIND}"
      DISCOURSE_APP_ROOT: "${DISCOURSE_APP_ROOT}"
      UNICORN_SIDEKIQS: "${UNICORN_SIDEKIQS}"
      DISCOURSE_SECRET_KEY_BASE: "${DISCOURSE_SECRET_KEY_BASE}"
    #entrypoint: ["/bin/sh", "sleep", "10000"]
    command: ["no-compile"]

  web:
    build:
      context: ./docker
      dockerfile: ./nginx.dockerfile
    volumes:
      - ./public:/var/www/discourse/public
      - ./assets:/var/www/discourse/public/assets
      - ./uploads:/var/www/discourse/public/uploads
    ports:
      - 80:80
    environment:
      DISCOURSE_HOST: "${DISCOURSE_HOST}"
    depends_on:
      - app
    command: ["/bin/sh" , "/etc/nginx/nginx.sh"]

  cache:
    image: redis
    ports:
      - 6379:6379

  mail:
    image: namshi/smtp
    restart: always
    volumes:
      - ./log:/var/log/exim4
    environment:
      SES_USER: "${DISCOURSE_SMTP_USER_NAME}"
      SES_PASSWORD: "${DISCOURSE_SMTP_PASSWORD}"
      SES_REGION: "${AWS_REGION}"

  logrotate:
    image: blacklabelops/logrotate
    volumes:
      - ./log:/var/lib/discourse
    environment:
      LOGS_DIRECTORIES: "/var/lib/discourse"
      LOGROTATE_SIZE: "10M"
      LOGROTATE_INTERVAL: "hourly"
      LOGROTATE_COPIES: "10"
